@page "/aniversarytable"
@inject HttpClient Http
@using Microsoft.AspNetCore.Components.Authorization

<style>
    body {
        background-image: url('images/sfondoadmin.png');
        background-size: cover;
        background-position: center;
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position: top center;
        background-attachment: fixed;
        background-color: black;
        min-height: 100vh;
    }

    .title-feedbacks {
        text-align: center;
        color: gold;
        font-family: 'Cinzel', serif;
        font-weight: 700;
        font-size: 3rem;
        text-transform: uppercase;
        letter-spacing: 4px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
        margin: 2rem 0;
    }

    .not-auth {
        text-align: center;
        color: ghostwhite;
        font-family: 'Cinzel', serif;
        font-weight: 80;
        font-size: 3rem;
        text-transform: uppercase;
        letter-spacing: 4px;
    }

    @@media (max-width: 480px) {
        body {
            background-size: cover;
        }
    }
</style>

<AuthorizeView Roles="Admin">
    <Authorized>
        <p class="title-feedbacks">Selected Monsters from Users & Feedbacks</p>
        <p style="text-align: center; color: white;">
            Hier you can see all monster what was voted
        </p>

        @if (ClasificationList == null)
        {
            <p style="color: white;"><em>Loading please...</em></p>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th style="color: yellow;">Monster</th>
                        <th style="color: yellow;">Feedback</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ClasificationList)
                    {
                        <tr>
                            <td style="color: lightgrey;">@item.Monster</td>
                            <td style="color: lightgrey;">@item.Feedback</td>
                        </tr>
                    }
                </tbody>
            </table>
        }

        @if (dragonList == null)
        {
            <p style="color: white;"><em>Loading please...</em></p>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th style="color: yellow;">Name</th>
                        <th style="color: yellow;">Element</th>
                        <th style="color: yellow;">Defence</th>
                        <th style="color: yellow;">Class</th>
                        <th style="color: yellow;">Map</th>
                        <th style="color: yellow;">User</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in dragonList)
                    {
                        <tr>
                            <td style="color: lightgrey;">@item.Name</td>
                            <td style="color: lightgrey;">@item.Element</td>
                            <td style="color: lightgrey;">@item.Defence</td>
                            <td style="color: lightgrey;">@item.Class</td>
                            <td style="color: lightgrey;">@item.Map</td>
                            <td style="color: lightgrey;">@item.UserEmail</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </Authorized>
    <NotAuthorized>
        <div class="not-auth">
            <p style="text-align: center; color: white;">
                Sorry you are not authorized
            </p>
        </div>
    </NotAuthorized>
</AuthorizeView>